flow.json
[
  {
      "id": "c9746dfe79bd4b6c",
      "type": "subflow",
      "name": "Landing Page",
      "info": "You've created a wonderful chatbot, but no one can find it on the search engines? **That's because you don't have a landing page.**\nCreate a landing page for your chatbot with few clicks:\n\n![Landing page](https://dashboard.red-bot.io/assets/02434325-cc36-4b5b-8b95-005ccaa3b579)\n\nOpen **Mission Control** and add a title, a few eye-catching lines to describe your bot, some prompts as an example of conversation with it and, if you want, a full list of features. All without writing a single line of HTML code.\n\nThe landing page URL is `http://mybotaddress.com/home` or `http://localhost:1880/home`. \n\n**Changelog**\n- _1.1.0_ Added preview page\n- _1.0.1_ Added link to configuration panel\n- _1.0.0_ Initial version\n\n\n\n",
      "category": "RedBot Flow",
      "in": [],
      "out": [],
      "env": [],
      "meta": {
          "module": "landing-page",
          "type": "landing-page",
          "version": "1.1.0",
          "author": "Guido Bellomo <guido.bellomo@gmail.com>",
          "desc": "Create a landing page for the chatbot",
          "keywords": "landing,page,chatbot,redbot",
          "license": "MIT"
      },
      "color": "#ff6633",
      "icon": "font-awesome/fa-plane"
  },
  {
      "id": "2db8584d32e68a88",
      "type": "http in",
      "z": "c9746dfe79bd4b6c",
      "name": "",
      "url": "/home",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 190,
      "y": 80,
      "wires": [
          [
              "c14dc8d8667d0fef"
          ]
      ]
  },
  {
      "id": "4c51fcff1e59f940",
      "type": "template",
      "z": "c9746dfe79bd4b6c",
      "name": "",
      "field": "payload",
      "fieldType": "msg",
      "format": "html",
      "syntax": "mustache",
      "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\" />\n    <title>\n        {{botName}}\n    </title>\n    <meta name=\"description\" content=\"Simple landind page\" />\n    <meta name=\"keywords\" content=\"\" />\n    <meta name=\"author\" content=\"\" />\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css\" />\n    <link href=\"https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700\" rel=\"stylesheet\" />\n    <style>\n        .gradient {\n            background: linear-gradient(90deg, #d53369 0%, #daae51 100%);\n        }\n    </style>\n    <script src=\"https://cdn-tailwindcss.vercel.app/?plugins=forms,typography,aspect-ratio,line-clamp\"></script>\n    {{{head}}}\n</head>\n\n<body class=\"leading-normal tracking-normal text-white gradient\" style=\"font-family: 'Source Sans Pro', sans-serif;\">\n    <!--Nav-->\n    <nav id=\"header\" class=\"fixed w-full z-30 top-0 text-white\">\n        <div class=\"w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2\">\n            <div class=\"pl-4 flex items-center\">\n                {{{logo}}}\n                <div\n                    class=\"toggleColour hidden md:inline ml-4 text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl\">\n                    {{{botName}}}\n                    </>\n                </div>\n            </div>\n            <hr class=\"border-b border-gray-100 opacity-25 my-0 py-0\" />\n    </nav>\n    <!--Hero-->\n    <div class=\"\">\n        <div\n            class=\"container mt-16 pb-16 md:pb-0 md:mt-0 px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center\">\n            <!--Left Col-->\n            <div class=\"flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left\">\n                <p class=\"uppercase tracking-loose w-full\">{{heroHeader}}</p>\n                <h1 class=\"my-4 text-5xl font-bold leading-tight w-full md:w-fit\">\n                    {{{heroTitle}}}\n                </h1>\n                <p class=\"leading-normal text-2xl mb-8\">\n                    {{{heroDescription}}}\n                </p>\n\n\n                {{#urlTeams}}\n                <a href=\"{{{urlTeams}}}\"\n                    class=\"mx-auto lg:mx-0 hover:underline bg-white text-gray-800 text-xl font-bold rounded-md mt-2 py-2 px-4 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out\">\n                    <svg xmlns=\"http://www.w3.org/2000/svg\" class=\"inline-block\" viewBox=\"-5 -5 58 58\" width=\"48px\"\n                        height=\"48px\">\n                        <path fill=\"#5c6bc0\"\n                            d=\"M41.5 13A3.5 3.5 0 1 0 41.5 20 3.5 3.5 0 1 0 41.5 13zM4 40l23 4V4L4 8V40z\" />\n                        <path fill=\"#fff\"\n                            d=\"M21 16.27L21 19 17.01 19.18 16.99 31.04 14.01 30.95 14.01 19.29 10 19.45 10 16.94z\" />\n                        <path fill=\"#5c6bc0\"\n                            d=\"M36 14c0 2.21-1.79 4-4 4-1.2 0-2.27-.53-3-1.36v-5.28c.73-.83 1.8-1.36 3-1.36C34.21 10 36 11.79 36 14zM38 23v11c0 0 1.567 0 3.5 0 1.762 0 3.205-1.306 3.45-3H45v-8H38zM29 20v17c0 0 1.567 0 3.5 0 1.762 0 3.205-1.306 3.45-3H36V20H29z\" />\n                    </svg>\n                    Open in Teams\n                </a>\n                {{/urlTeams}}\n\n                {{#urlTelegram}}\n                <a href=\"{{{urlTelegram}}}\"\n                    class=\"mx-auto lg:mx-0 hover:underline bg-white text-gray-800 text-xl font-bold rounded-md mt-2 py-2 px-4 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out\">\n                    <svg id=\"Livello_1\" class=\"inline-block\" width=\"48px\" height=\"48px\"\n                        xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                        viewBox=\"-40 -40 320 310\">\n                        <defs>\n                            <linearGradient id=\"linear-gradient\" x1=\"120\" y1=\"240\" x2=\"120\"\n                                gradientUnits=\"userSpaceOnUse\">\n                                <stop offset=\"0\" stop-color=\"#1d93d2\" />\n                                <stop offset=\"1\" stop-color=\"#38b0e3\" />\n                            </linearGradient>\n                        </defs>\n                        <title>Telegram_logo</title>\n                        <circle cx=\"120\" cy=\"120\" r=\"120\" fill=\"url(#linear-gradient)\" />\n                        <path\n                            d=\"M81.229,128.772l14.237,39.406s1.78,3.687,3.686,3.687,30.255-29.492,30.255-29.492l31.525-60.89L81.737,118.6Z\"\n                            fill=\"#c8daea\" />\n                        <path d=\"M100.106,138.878l-2.733,29.046s-1.144,8.9,7.754,0,17.415-15.763,17.415-15.763\"\n                            fill=\"#a9c6d8\" />\n                        <path\n                            d=\"M81.486,130.178,52.2,120.636s-3.5-1.42-2.373-4.64c.232-.664.7-1.229,2.1-2.2,6.489-4.523,120.106-45.36,120.106-45.36s3.208-1.081,5.1-.362a2.766,2.766,0,0,1,1.885,2.055,9.357,9.357,0,0,1,.254,2.585c-.009.752-.1,1.449-.169,2.542-.692,11.165-21.4,94.493-21.4,94.493s-1.239,4.876-5.678,5.043A8.13,8.13,0,0,1,146.1,172.5c-8.711-7.493-38.819-27.727-45.472-32.177a1.27,1.27,0,0,1-.546-.9c-.093-.469.417-1.05.417-1.05s52.426-46.6,53.821-51.492c.108-.379-.3-.566-.848-.4-3.482,1.281-63.844,39.4-70.506,43.607A3.21,3.21,0,0,1,81.486,130.178Z\"\n                            fill=\"#fff\" />\n                    </svg>\n                    Open in Telegram\n                </a>\n                {{/urlTelegram}}\n\n                {{#urlFacebook}}\n                <a href=\"{{{urlFacebook}}}\"\n                    class=\"mx-auto lg:mx-0 hover:underline bg-white text-gray-800 text-xl font-bold rounded-md mt-2 py-2 px-4 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out\">\n                    <svg xmlns=\"http://www.w3.org/2000/svg\" class=\"inline-block\" width=\"48px\" height=\"48px\"\n                        viewBox=\"-150 -150 1100 1100\">\n                        <radialGradient id=\"a\" cx=\"101.9\" cy=\"809\" r=\"1.1\"\n                            gradientTransform=\"matrix(800 0 0 -800 -81386 648000)\" gradientUnits=\"userSpaceOnUse\">\n                            <stop offset=\"0\" style=\"stop-color:#09f\" />\n                            <stop offset=\".6\" style=\"stop-color:#a033ff\" />\n                            <stop offset=\".9\" style=\"stop-color:#ff5280\" />\n                            <stop offset=\"1\" style=\"stop-color:#ff7061\" />\n                        </radialGradient>\n                        <path fill=\"url(#a)\"\n                            d=\"M400 0C174.7 0 0 165.1 0 388c0 116.6 47.8 217.4 125.6 287 6.5 5.8 10.5 14 10.7 22.8l2.2 71.2a32 32 0 0 0 44.9 28.3l79.4-35c6.7-3 14.3-3.5 21.4-1.6 36.5 10 75.3 15.4 115.8 15.4 225.3 0 400-165.1 400-388S625.3 0 400 0z\" />\n                        <path fill=\"#FFF\"\n                            d=\"m159.8 501.5 117.5-186.4a60 60 0 0 1 86.8-16l93.5 70.1a24 24 0 0 0 28.9-.1l126.2-95.8c16.8-12.8 38.8 7.4 27.6 25.3L522.7 484.9a60 60 0 0 1-86.8 16l-93.5-70.1a24 24 0 0 0-28.9.1l-126.2 95.8c-16.8 12.8-38.8-7.3-27.5-25.2z\" />\n                    </svg>\n                    Open in Facebook Messenger\n                </a>\n                {{/urlFacebook}}\n\n                {{#urlSlack}}\n                <a href=\"{{{urlSlack}}}\"\n                    class=\"mx-auto lg:mx-0 hover:underline bg-white text-gray-800 text-xl font-bold rounded-md mt-2 py-2 px-4 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out\">\n                    <svg enable-background=\"new 0 0 2447.6 2452.5\" class=\"inline-block\" width=\"48px\" height=\"48px\"\n                        viewBox=\"-700 -700 3747.6 3752.5\" xmlns=\"http://www.w3.org/2000/svg\">\n                        <g clip-rule=\"evenodd\" fill-rule=\"evenodd\">\n                            <path\n                                d=\"m897.4 0c-135.3.1-244.8 109.9-244.7 245.2-.1 135.3 109.5 245.1 244.8 245.2h244.8v-245.1c.1-135.3-109.5-245.1-244.9-245.3.1 0 .1 0 0 0m0 654h-652.6c-135.3.1-244.9 109.9-244.8 245.2-.2 135.3 109.4 245.1 244.7 245.3h652.7c135.3-.1 244.9-109.9 244.8-245.2.1-135.4-109.5-245.2-244.8-245.3z\"\n                                fill=\"#36c5f0\" />\n                            <path\n                                d=\"m2447.6 899.2c.1-135.3-109.5-245.1-244.8-245.2-135.3.1-244.9 109.9-244.8 245.2v245.3h244.8c135.3-.1 244.9-109.9 244.8-245.3zm-652.7 0v-654c.1-135.2-109.4-245-244.7-245.2-135.3.1-244.9 109.9-244.8 245.2v654c-.2 135.3 109.4 245.1 244.7 245.3 135.3-.1 244.9-109.9 244.8-245.3z\"\n                                fill=\"#2eb67d\" />\n                            <path\n                                d=\"m1550.1 2452.5c135.3-.1 244.9-109.9 244.8-245.2.1-135.3-109.5-245.1-244.8-245.2h-244.8v245.2c-.1 135.2 109.5 245 244.8 245.2zm0-654.1h652.7c135.3-.1 244.9-109.9 244.8-245.2.2-135.3-109.4-245.1-244.7-245.3h-652.7c-135.3.1-244.9 109.9-244.8 245.2-.1 135.4 109.4 245.2 244.7 245.3z\"\n                                fill=\"#ecb22e\" />\n                            <path\n                                d=\"m0 1553.2c-.1 135.3 109.5 245.1 244.8 245.2 135.3-.1 244.9-109.9 244.8-245.2v-245.2h-244.8c-135.3.1-244.9 109.9-244.8 245.2zm652.7 0v654c-.2 135.3 109.4 245.1 244.7 245.3 135.3-.1 244.9-109.9 244.8-245.2v-653.9c.2-135.3-109.4-245.1-244.7-245.3-135.4 0-244.9 109.8-244.8 245.1 0 0 0 .1 0 0\"\n                                fill=\"#e01e5a\" />\n                        </g>\n                    </svg>\n                    Open in Slack\n                </a>\n                {{/urlSlack}}\n\n                {{#urlWhatsapp}}\n                <a href=\"{{{urlWhatsapp}}}\"\n                    class=\"mx-auto lg:mx-0 hover:underline bg-white text-gray-800 text-xl font-bold rounded-md mt-2 py-2 px-4 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out\">\n                    <svg class=\"inline-block\" width=\"48px\" height=\"48px\" version=\"1.1\" id=\"Capa_1\"\n                        xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                        viewBox=\"-10 -10 77 75\" xml:space=\"preserve\">\n                        <g>\n                            <path style=\"fill:#2CB742;\" d=\"M0,58l4.988-14.963C2.457,38.78,1,33.812,1,28.5C1,12.76,13.76,0,29.5,0S58,12.76,58,28.5\n              S45.24,57,29.5,57c-4.789,0-9.299-1.187-13.26-3.273L0,58z\" />\n                            <path style=\"fill:#FFFFFF;\" d=\"M47.683,37.985c-1.316-2.487-6.169-5.331-6.169-5.331c-1.098-0.626-2.423-0.696-3.049,0.42\n              c0,0-1.577,1.891-1.978,2.163c-1.832,1.241-3.529,1.193-5.242-0.52l-3.981-3.981l-3.981-3.981c-1.713-1.713-1.761-3.41-0.52-5.242\n              c0.272-0.401,2.163-1.978,2.163-1.978c1.116-0.627,1.046-1.951,0.42-3.049c0,0-2.844-4.853-5.331-6.169\n              c-1.058-0.56-2.357-0.364-3.203,0.482l-1.758,1.758c-5.577,5.577-2.831,11.873,2.746,17.45l5.097,5.097l5.097,5.097\n              c5.577,5.577,11.873,8.323,17.45,2.746l1.758-1.758C48.048,40.341,48.243,39.042,47.683,37.985z\" />\n                        </g>\n                    </svg>\n                    Open in Whatsapp\n                </a>\n                {{/urlWhatsapp}}\n\n                {{#urlTwilio}}\n                <a href=\"{{{urlTwilio}}}\"\n                    class=\"mx-auto lg:mx-0 hover:underline bg-white text-gray-800 text-xl font-bold rounded-md mt-2 py-2 px-4 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out\">\n                    <svg xmlns=\"http://www.w3.org/2000/svg\" class=\"inline-block\" width=\"48px\" height=\"48px\"\n                        viewBox=\"-10 -10 84 84\">\n                        <g transform=\"matrix(.937042 0 0 .937042 0 .046624)\" fill=\"#e31e26\">\n                            <path\n                                d=\"M34.1 0C15.3 0 0 15.3 0 34.1s15.3 34.1 34.1 34.1C53 68.3 68.3 53 68.3 34.1S53 0 34.1 0zm0 59.3C20.3 59.3 9 48 9 34.1 9 20.3 20.3 9 34.1 9 48 9 59.3 20.3 59.3 34.1 59.3 48 48 59.3 34.1 59.3z\" />\n                            <circle cx=\"42.6\" cy=\"25.6\" r=\"7.1\" />\n                            <circle cx=\"42.6\" cy=\"42.6\" r=\"7.1\" />\n                            <circle cx=\"25.6\" cy=\"42.6\" r=\"7.1\" />\n                            <circle cx=\"25.6\" cy=\"25.6\" r=\"7.1\" />\n                        </g>\n                    </svg>\n                    Open in Twilio\n                </a>\n                {{/urlTwilio}}\n\n                {{#urlViber}}\n                <a href=\"{{{urlViber}}}\"\n                    class=\"mx-auto lg:mx-0 hover:underline bg-white text-gray-800 text-xl font-bold rounded-md mt-2 py-2 px-4 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out\">\n                    <svg xmlns=\"http://www.w3.org/2000/svg\" class=\"inline-block\" width=\"48px\" height=\"48px\"\n                        version=\"1.1\" id=\"Layer_1\" viewBox=\"-94.79835 -166.597 821.5857 999.582\">\n                        <defs id=\"defs199\">\n                            <style id=\"style197\">\n                                .cls-1 {\n                                    fill: #fff\n                                }\n\n                                .cls-3 {\n                                    fill: none;\n                                    stroke: #fff;\n                                    stroke-linecap: round;\n                                    stroke-linejoin: round;\n                                    stroke-width: 16.86px\n                                }\n                            </style>\n                        </defs>\n                        <path id=\"path203\"\n                            d=\"M560.651 64.998c-16.56-15.28-83.48-63.86-232.54-64.52 0 0-175.78-10.6-261.47 68-47.7 47.71-64.48 117.52-66.25 204.07-1.77 86.55-4.06 248.75 152.29 292.73h.15l-.1 67.11s-1 27.17 16.89 32.71c21.64 6.72 34.34-13.93 55-36.19 11.34-12.22 27-30.17 38.8-43.89 106.93 9 189.17-11.57 198.51-14.61 21.59-7 143.76-22.65 163.63-184.84 20.51-167.17-9.92-272.91-64.91-320.57z\"\n                            class=\"cls-1\" />\n                        <path id=\"path205\"\n                            d=\"M525.881 98.768c-14-12.72-74.43-50.69-200.52-51.24 0 0-149.31-9.81-221.79 55.84-40.34 39.83-53.93 99.06-55.42 171.34-1.49 72.28-9.21 210.36 123 247.09 0 0-.52 102.51-.58 111.52 0 6.3 1 10.61 4.6 11.5 2.59.63 6.47-.71 9.77-4 21.14-21.23 88.82-102.88 88.82-102.88 90.81 5.93 163.06-12 170.83-14.54 18.32-5.89 117.41-14.4 134.18-149.86 17.33-139.63-6.37-234.94-52.89-274.77z\"\n                            fill=\"#7360f2\" />\n                        <path id=\"path207\" d=\"M389.471 268.768q-2.46-49.59-50.38-52.09\" class=\"cls-3\" />\n                        <path id=\"path209\" d=\"M432.721 283.268q1-46.2-27.37-77.2c-19-20.74-45.3-32.16-79.05-34.63\"\n                            class=\"cls-3\" />\n                        <path id=\"path211\" d=\"M477.001 300.588q-.61-80.17-47.91-126.28t-117.65-46.6\" class=\"cls-3\" />\n                        <path id=\"path213\"\n                            d=\"M340.761 381.678s11.85 1 18.23-6.86l12.44-15.65c6-7.76 20.48-12.71 34.66-4.81a366.67 366.67 0 0130.91 19.74c9.41 6.92 28.68 23 28.74 23 9.18 7.75 11.3 19.13 5.05 31.13 0 .07-.05.19-.05.25a129.81 129.81 0 01-25.89 31.88c-.12.06-.12.12-.23.18q-13.38 11.18-26.29 12.71a17.39 17.39 0 01-3.84.24 35 35 0 01-11.18-1.72l-.28-.41c-13.26-3.74-35.4-13.1-72.27-33.44a430.39 430.39 0 01-60.72-40.11 318.31 318.31 0 01-27.31-24.22l-.92-.92-.92-.92-.92-.92c-.31-.3-.61-.61-.92-.92a318.31 318.31 0 01-24.22-27.31 430.83 430.83 0 01-40.11-60.71c-20.34-36.88-29.7-59-33.44-72.28l-.41-.28a35 35 0 01-1.71-11.18 16.87 16.87 0 01.23-3.84q1.61-12.89 12.73-26.31c.06-.11.12-.11.18-.23a129.53 129.53 0 0131.88-25.88c.06 0 .18-.06.25-.06 12-6.25 23.38-4.13 31.12 5 .06.06 16.11 19.33 23 28.74a366.67 366.67 0 0119.74 30.94c7.9 14.17 2.95 28.68-4.81 34.66l-15.65 12.44c-7.9 6.38-6.86 18.23-6.86 18.23s23.18 87.73 109.79 109.84z\"\n                            class=\"cls-1\" />\n                    </svg>\n                    Open in Viber\n                </a>\n                {{/urlViber}}\n\n\n            </div>\n            <!--Right Col-->\n            <div class=\"w-full md:w-3/5 py-6 scale-75 hidden md:block\">\n\n                <!-- iPhone -->\n                <div\n                    class=\"min-h-screen px-10 flex justify-center items-center bg-texture bg-cover pt-20 pb-40 sm:py-0\">\n                    <div\n                        class=\"relative min-w-[375px] h-[812px] bg-black rounded-[60px] shadow-xl overflow-hidden ring-[14px] ring-black\">\n                        <div class=\"w-full h-full bg-slate-200\">\n                            <div class=\"absolute top-0 inset-x-0\">\n                                <div class=\"relative w-40 h-7 bg-black mx-auto rounded-b-3xl\">\n                                    <div class=\"w-16 h-2 bg-gray-800 mx-auto rounded-full absolute top-1 inset-x-0\">\n                                    </div>\n                                    <div class=\"w-2 h-2 bg-gray-800 rounded-full absolute top-1 right-6\"></div>\n                                </div>\n                            </div>\n\n\n                            <div class=\"flex justify-between px-8 pt-2\">\n                                <p class=\"text-sm text-black ml-5\">10:42</p>\n                                <div class=\"relative\">\n                                    <div class=\"h-5 flex justify-end items-center space-x-2\">\n                                        <svg xmlns=\"http://www.w3.org/2000/svg\" class=\"h-4 w-4 text-black\"\n                                            viewBox=\"0 0 20 20\" fill=\"currentColor\">\n                                            <path\n                                                d=\"M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z\" />\n                                        </svg>\n                                        <i class=\"fas fa-wifi text-black text-sm\"></i>\n                                        <i class=\"fas fa-battery-full text-black text-sm\"></i>\n                                    </div>\n                                    <div class=\"absolute w-1 h-1 rounded-full bg-green-600 -top-1 left-2\"></div>\n                                </div>\n                            </div>\n\n\n                            <div id=\"messages\"\n                                class=\"flex flex-col mt-8 space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch\">\n                                <div class=\"chat-message\">\n                                    <div class=\"flex items-end justify-end\">\n                                        <div class=\"flex flex-col space-y-2 text-lg max-w-xs mx-2 order-1 items-end\">\n                                            {{#botPrompts}}\n                                            <div>\n                                                <span class=\"px-4 py-2 rounded-lg inline-block rounded-br-none bg-blue-600 text-white \">{{{sentence}}}</span>\n                                            </div>\n                                            {{/botPrompts}}\n                                        </div>\n\n                                        <div\n                                            class=\"relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 order-2\">\n                                            <svg class=\"absolute w-12 h-12 text-gray-400 -left-1\" fill=\"currentColor\"\n                                                viewBox=\"0 0 20 20\" xmlns=\"http://www.w3.org/2000/svg\">\n                                                <path fill-rule=\"evenodd\"\n                                                    d=\"M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z\"\n                                                    clip-rule=\"evenodd\"></path>\n                                            </svg>\n                                        </div>\n\n                                    </div>\n                                </div>\n                                <div class=\"chat-message\">\n                                    <div class=\"flex items-end\">\n                                        <div class=\"flex flex-col space-y-2 text-lg max-w-xs mx-2 order-2 items-start\">\n                                            {{#userPrompts}}\n                                            <div>\n                                                <span class=\"px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600\">{{{sentence}}}</span>\n                                            </div>\n                                            {{/userPrompts}}\n                                        </div>\n                                        <div\n                                            class=\"relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600\">\n                                            <svg class=\"absolute w-12 h-12 text-gray-400 -left-1\" fill=\"currentColor\"\n                                                viewBox=\"0 0 20 20\" xmlns=\"http://www.w3.org/2000/svg\">\n                                                <path fill-rule=\"evenodd\"\n                                                    d=\"M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z\"\n                                                    clip-rule=\"evenodd\"></path>\n                                            </svg>\n                                        </div>\n                                    </div>\n                                </div>\n                            </div>\n                            <div class=\"absolute w-2/5 h-[5px] rounded-full bg-white mx-auto inset-x-0 bottom-2\"></div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <div class=\"relative -mt-12 lg:-mt-24\">\n        <svg viewBox=\"0 0 1428 174\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"\n            xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n            <g stroke=\"none\" stroke-width=\"1\" fill=\"none\" fill-rule=\"evenodd\">\n                <g transform=\"translate(-2.000000, 44.000000)\" fill=\"#FFFFFF\" fill-rule=\"nonzero\">\n                    <path\n                        d=\"M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496\"\n                        opacity=\"0.100000001\"></path>\n                    <path\n                        d=\"M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z\"\n                        opacity=\"0.100000001\"></path>\n                    <path\n                        d=\"M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z\"\n                        id=\"Path-4\" opacity=\"0.200000003\"></path>\n                </g>\n                <g transform=\"translate(-4.000000, 76.000000)\" fill=\"#FFFFFF\" fill-rule=\"nonzero\">\n                    <path\n                        d=\"M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z\">\n                    </path>\n                </g>\n            </g>\n        </svg>\n    </div>\n    <section class=\"bg-white py-8\">\n        <div class=\"container mx-auto flex flex-wrap pt-4 pb-12\">\n            <h2 class=\"w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800\">\n                {{featuresTitle}}\n            </h2>\n            <div class=\"w-full mb-4\">\n                <div class=\"h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t\"></div>\n            </div>\n            {{#features}}\n            <div class=\"w-full md:w-1/3 p-6 flex flex-col flex-shrink\">\n                <div class=\"flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow\">\n                    <a href=\"#\" class=\"flex flex-wrap no-underline hover:no-underline\">\n                        <div class=\"w-full font-bold text-xl text-gray-800 px-6\">\n                            {{{title}}}\n                        </div>\n                        <p class=\"text-gray-800 text-base px-6 mb-5\">\n                            {{{body}}}\n                        </p>\n                    </a>\n                </div>\n            </div>\n            {{/features}}\n        </div>\n\n        <div class=\"px-12 text-slate-600 text-center text-xs md:text-base\">\n            Created with\n            <a class=\"font-bold text-sky-600 hover:underline hover:decoration-sky-900 hover:decoration-dotted hover:decoration-3\"\n                href=\"https://red-bot.io/\" target=\"_blank\">RedBot</a> and <a\n                class=\"font-bold text-sky-600 hover:underline hover:decoration-sky-900 hover:decoration-dotted hover:decoration-3\"\n                href=\"https://red-bot.io/plugins/12\" target=\"_blank\">RedBot Landing Page</a> plugin.\n        </div>\n\n    </section>\n\n    <svg class=\"wave-top\" viewBox=\"0 0 1439 147\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"\n        xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n        <g stroke=\"none\" stroke-width=\"1\" fill=\"none\" fill-rule=\"evenodd\">\n            <g transform=\"translate(-1.000000, -14.000000)\" fill-rule=\"nonzero\">\n                <g class=\"wave\" fill=\"#ffffff\">\n                    <path\n                        d=\"M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z\">\n                    </path>\n                </g>\n                <g transform=\"translate(1.000000, 15.000000)\" fill=\"#FFFFFF\">\n                    <g\n                        transform=\"translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) \">\n                        <path\n                            d=\"M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496\"\n                            opacity=\"0.100000001\"></path>\n                        <path\n                            d=\"M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z\"\n                            opacity=\"0.100000001\"></path>\n                        <path\n                            d=\"M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z\"\n                            opacity=\"0.200000003\"></path>\n                    </g>\n                </g>\n            </g>\n        </g>\n    </svg>\n\n    <script>\n        var scrollpos = window.scrollY;\n    var header = document.getElementById(\"header\");\n    //var navcontent = document.getElementById(\"nav-content\");\n    var brandname = document.getElementById(\"brandname\");\n    var toToggle = document.querySelectorAll(\".toggleColour\");\n\n    document.addEventListener(\"scroll\", function () {\n      /*Apply classes for slide in bar*/\n      scrollpos = window.scrollY;\n\n      if (scrollpos > 10) {\n        header.classList.add(\"bg-white\");\n        for (var i = 0; i < toToggle.length; i++) {\n          toToggle[i].classList.add(\"text-gray-800\");\n          toToggle[i].classList.remove(\"text-white\");\n        }\n        header.classList.add(\"shadow\");\n      } else {\n        header.classList.remove(\"bg-white\");\n        for (var i = 0; i < toToggle.length; i++) {\n          toToggle[i].classList.add(\"text-white\");\n          toToggle[i].classList.remove(\"text-gray-800\");\n        }\n\n        header.classList.remove(\"shadow\");\n      }\n    });\n    </script>\n</body>\n\n</html>",
      "output": "str",
      "x": 620,
      "y": 80,
      "wires": [
          [
              "67ea69ca76f758cc"
          ]
      ]
  },
  {
      "id": "67ea69ca76f758cc",
      "type": "http response",
      "z": "c9746dfe79bd4b6c",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 790,
      "y": 80,
      "wires": []
  },
  {
      "id": "216618ce9d7f4ec0",
      "type": "mc-graphql",
      "z": "c9746dfe79bd4b6c",
      "name": "",
      "query": "query {\n  features: contents(\n    namespace: \"landing-page\", \n    order: \"order\"\n  ) {\n    title,\n    slug,\n    body\n  }\n}",
      "debug": false,
      "noerr": 0,
      "x": 520,
      "y": 320,
      "wires": [
          [
              "a68bec09494325ed"
          ],
          [
              "a68bec09494325ed"
          ],
          []
      ]
  },
  {
      "id": "c14dc8d8667d0fef",
      "type": "function",
      "z": "c9746dfe79bd4b6c",
      "name": "Get global vars",
      "func": "let landingPageConfiguration = global.get('redbot-landing-page');\n\nif (landingPageConfiguration) {\n    node.send([\n        {\n            ...msg,\n            ...landingPageConfiguration\n        },\n        null\n    ]);\n} else {\n    node.send([\n        null, \n        {\n            ...msg,\n            payload: 'Missing configuration for landing page, check Mission Control'\n        }\n    ]);\n}\n",
      "outputs": 2,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 420,
      "y": 80,
      "wires": [
          [
              "4c51fcff1e59f940"
          ],
          [
              "8b1036248d091408"
          ]
      ]
  },
  {
      "id": "b3acd6188c1f32ea",
      "type": "mc-configuration",
      "z": "c9746dfe79bd4b6c",
      "namespace": "landing-page",
      "chatbotId": "",
      "debug": false,
      "loadOnStartup": true,
      "inputs": 0,
      "x": 250,
      "y": 320,
      "wires": [
          [
              "216618ce9d7f4ec0"
          ]
      ]
  },
  {
      "id": "a68bec09494325ed",
      "type": "function",
      "z": "c9746dfe79bd4b6c",
      "name": "Store in global",
      "func": "global.set(\n    'redbot-landing-page', \n    {\n        ...msg.payload,\n        ...msg.previous\n    }\n);\n",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 760,
      "y": 320,
      "wires": [
          []
      ]
  },
  {
      "id": "8b1036248d091408",
      "type": "http response",
      "z": "c9746dfe79bd4b6c",
      "name": "",
      "statusCode": "400",
      "headers": {},
      "x": 620,
      "y": 120,
      "wires": []
  }
]